<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MasterpassQR Demo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CA97D0B139D86EA903F09BCF4C87A173A6AAD733</string>
				<key>dateExpires</key>
				<string>25/9/18</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>FARWN7FEXX.com.mastercard.ios.MasterpassQR-Demo</string>
				<key>com.apple.developer.team-identifier</key>
				<string>FARWN7FEXX</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>FARWN7FEXX.com.mastercard.ios.MasterpassQR-Demo</string>
				</array>
			</dict>
			<key>name</key>
			<string>MasterpassQR Demo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f696a58b-44b8-4cf7-bdd3-5bd63ab4a721</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.mastercard.ios.MasterpassQR-Demo</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>FARWN7FEXX</string>
				<key>name</key>
				<string>MasterCard Worldwide</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
